<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

   
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  

    <div class="conteiner-fluid">
        <div class="row">
          <div class="col bg-dark text-light">
            header
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 bg-secondary">
            1
    
          </div>
          <div class="col-md-6 bg-danger">
            2
    
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 bg-info">
            3
          </div>
          <div class="col-md-6 bg-warning">
            4
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col bg-dark">
            footer
          </div>
        </div>
      </div>
    
      <!--numeroo 2-->
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-md-9 bg-secondary">
            cabeza
          </div>
          <div class="col-md-3 bg-dark">
            e
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 bg-info">
            nav
          </div>
          <div class="col 9">
            <div class="row bg-danger">
              contenido
            </div>
            <div class="row bg-secondary">
              footer
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col bg-danger">
            logo
          </div>
        </div>
        <div class="row">
          <div class="col bg-dark">
            logo
          </div>
        </div>
        <div class="row">
          <div class="col bg-secondary">
            logo
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 bg-warning">
            sitepar
          </div>
          <div class="col-md-6 bg-info">
            contenido
    
          </div>
        </div>
    
        <div class="row">
          <div class="col bg-danger">
    
            futter
          </div>
        </div>
    
        <!--numeroooo 4-->
      </div>
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col bg-dark">
            cabeza
          </div>
        </div>
        <div class="row">
          <div class="col bg-primary">
            baner
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="p-3 bg-dark border">1</div>
          </div>
          <div class="col-md-3">
            <div class="p-3 bg-dark border">2</div>
          </div>
          <div class="col-md-3">
            <div class="p-3 bg-dark border">3</div>
          </div>
          <div class="col-md-3">
            <div class="p-3 bg-dark border">4</div>
    
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="p-3 bg-dark border">5</div>
          </div>
          <div class="col-md-3">
            <div class="p-3 bg-dark border">6</div>
          </div>
          <div class="col-md-3">
            <div class="p-3 bg-dark border">7</div>
          </div>
          <div class="col-md-3">
            <div class="p-3 bg-dark border">8</div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="p-3 bg-dark border">9</div>
          </div>
          <div class="col-md-3">
            <div class="p-3 bg-dark border">10</div>
          </div>
          <div class="col-md-3">
            <div class="p-3 bg-dark border">11</div>
          </div>
          <div class="col-md-3">
            <div class="p-3 bg-dark border">12</div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 bg-secondary">
            
    
            caja 1
          </div>
          <div class="col-md-4 bg-dark">
            caja 1
          </div>
          <div class="col-md-4 bg-warning">
            caja 1
          </div>
        </div>
        <div class="row">
          <div class="col bg-info">
            footer
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col bg-secondary">
            header
    
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col bg-dark">
            nav
    
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 bg-info">
            foto
          </div>
          <div class="col-md-6 bg-warning">
            foto
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 bg-danger">
            nota1
          </div>
          <div class="col-md-4 bg-dark">
            nota2
          </div>
          <div class="col-md-4 bg-info">
            nota3
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 bg-info">
            nota4
          </div>
          <div class="col-md-6 bg-secondary">
            baner
          </div>
        </div>
      </div>
      </div>
              


       
    
</body>
</html>